.Gview{
background: url(../../Media/Home_Background.jpg) ;
background-position: center;
background-size: cover;
background-attachment: fixed; 
display: flex;
flex-wrap: wrap;
justify-content: center;
background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
background-size: 100% 100%;

};

.details{
color: aliceblue;
text-decoration: aliceblue;
text-decoration-color: aliceblue;
}
.searchbar{
    background-color: black;
    
    
}
.genres{
    color: aliceblue;
    font-size: 10px;
}
.loading{
    color: rgb(0, 136, 255);
    font-family:unset;
    font-weight: bold;
    font-size: 50px;
}
.dmg{
    margin-top: 200px;

}
.input{
    width: 400px;
    height: 40px;
    border-radius: 5px;
}
.sbtn{
    background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    margin-right: 12px;
    margin-left: 12px;
    height: 44px;
    width: 80px;
    border-radius: 7px;
    font-style: oblique;
    font-weight: bolder;
    border-color: aliceblue;
    color: aliceblue;
}
.sbtn:hover{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    margin-right: 12px;
    margin-left: 12px;
    transform: scale(1.1);
    border-radius: 7px;
    font-weight: 200;
    font-style: oblique;
    font-weight: bolder;
}
.Filters{
    display: inline-flex;
    background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    margin: 10px;
    color :aliceblue;
    border-radius: 7px;

}
.stick{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pnumber{
    color: aliceblue;
    background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    border-radius: 7px;
    width: 130%;
    height: 100%;
    border-color: aliceblue;
}
.pnumber:hover{
    color: aliceblue;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    border-radius: 7px;
    width: 135%;
    height: 105%;
}
.order{
    color: aliceblue;
    display: inline-flex;
}
.added{
    margin-left: 10px;
    margin-right: 10px;
}