.navbar {
    height: 56px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #303236;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}



.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
}

.list-item {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.list-item a {
    color: white;
    height: 100%;
    padding: 12px 10px;
    border-bottom: 4px solid transparent;
    font-weight: bolder;
    font-style: oblique;
}

.list-item a:hover {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    color: rgb(0, 0, 0);
    border-radius: 7px;
}
.logo{
    height: 90px;
    width: 90px;
    padding: 2px 1px;
    border-bottom: 4px solid transparent;

}
.logo:hover{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    color: rgb(0, 0, 0);
    border-radius: 7px;
}
